<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head> 
<body>
    <div class="greet"><h1>Welcome!</h1></div>
    <div class="contaner">
        <form class="form1" action="/home1/signup" method="get">
            <button class="btn1" type="submit">signup</button>
        </form>
        <form class="form2" action="/home1/login" method="get">
            <button class="btn2">login</button>
        </form>

    </div>
    
    
    
</body>
</html>